/**
 * AHOI API
 * AHOI (working title) is our managed and flexible banking API designed to offer easy access to your users bank accounts.  [AHOI cookbook](/ahoi/docs/cookbook/index.html)  [Imprint](https://symbioticon.de/legal-notices/)  [Privacy Disclaimer](https://symbioticon.de/data-protection-guidelines/)  &copy; 2016 Starfinanz - Ein Unternehmen der Finanz Informatik
 *
 * OpenAPI spec version: 2.0.0
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */


package io.swagger.client.api;

import io.swagger.client.ApiCallback;
import io.swagger.client.ApiClient;
import io.swagger.client.ApiException;
import io.swagger.client.ApiResponse;
import io.swagger.client.Configuration;
import io.swagger.client.Pair;
import io.swagger.client.ProgressRequestBody;
import io.swagger.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;

import io.swagger.client.model.MonthlySummary;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class TransactionSummaryApi {
    private ApiClient apiClient;

    public TransactionSummaryApi() {
        this(Configuration.getDefaultApiClient());
    }

    public TransactionSummaryApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /* Build call for listSummary */
    private com.squareup.okhttp.Call listSummaryCall(Long accountId, Integer limit, Integer offset, String from, String to, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // verify the required parameter 'accountId' is set
        if (accountId == null) {
            throw new ApiException("Missing the required parameter 'accountId' when calling listSummary(Async)");
        }
        

        // create path and map variables
        String localVarPath = "/v2/accounts/{accountId}/transactionsummaries".replaceAll("\\{format\\}","json")
        .replaceAll("\\{" + "accountId" + "\\}", apiClient.escapeString(accountId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        if (limit != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "limit", limit));
        if (offset != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "offset", offset));
        if (from != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "from", from));
        if (to != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "to", to));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "apiKey" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    /**
     * List account summaries
     * Retrieve account summaries and provide a sum for incoming and outgoing transactions.
     * @param accountId The **accountId** for which to list the summaries (required)
     * @param limit Optional &amp;mdash; limit the number of returned summary entries (optional)
     * @param offset Optional &amp;mdash; skip the first ${offset} summary entries in the result (optional)
     * @param from Optional &amp;mdash; only return summary entries later than ${from}; an         ISO8601 Date (2014-11-17) (optional)
     * @param to Optional &amp;mdash; only return summary entries prior or equal to         ${to}; an ISO8601 Date (optional)
     * @return List&lt;MonthlySummary&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public List<MonthlySummary> listSummary(Long accountId, Integer limit, Integer offset, String from, String to) throws ApiException {
        ApiResponse<List<MonthlySummary>> resp = listSummaryWithHttpInfo(accountId, limit, offset, from, to);
        return resp.getData();
    }

    /**
     * List account summaries
     * Retrieve account summaries and provide a sum for incoming and outgoing transactions.
     * @param accountId The **accountId** for which to list the summaries (required)
     * @param limit Optional &amp;mdash; limit the number of returned summary entries (optional)
     * @param offset Optional &amp;mdash; skip the first ${offset} summary entries in the result (optional)
     * @param from Optional &amp;mdash; only return summary entries later than ${from}; an         ISO8601 Date (2014-11-17) (optional)
     * @param to Optional &amp;mdash; only return summary entries prior or equal to         ${to}; an ISO8601 Date (optional)
     * @return ApiResponse&lt;List&lt;MonthlySummary&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<List<MonthlySummary>> listSummaryWithHttpInfo(Long accountId, Integer limit, Integer offset, String from, String to) throws ApiException {
        com.squareup.okhttp.Call call = listSummaryCall(accountId, limit, offset, from, to, null, null);
        Type localVarReturnType = new TypeToken<List<MonthlySummary>>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * List account summaries (asynchronously)
     * Retrieve account summaries and provide a sum for incoming and outgoing transactions.
     * @param accountId The **accountId** for which to list the summaries (required)
     * @param limit Optional &amp;mdash; limit the number of returned summary entries (optional)
     * @param offset Optional &amp;mdash; skip the first ${offset} summary entries in the result (optional)
     * @param from Optional &amp;mdash; only return summary entries later than ${from}; an         ISO8601 Date (2014-11-17) (optional)
     * @param to Optional &amp;mdash; only return summary entries prior or equal to         ${to}; an ISO8601 Date (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call listSummaryAsync(Long accountId, Integer limit, Integer offset, String from, String to, final ApiCallback<List<MonthlySummary>> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = listSummaryCall(accountId, limit, offset, from, to, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<List<MonthlySummary>>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
